.section {
  @apply overflow-hidden px-0;
  --hovered: polygon(-30% 0, -5% 100%, 40% 100%, 15% 0);
}

.article {
  @apply grid grid-cols-2 cursor-pointer relative;
  width: 200%;
  transition: transform 500ms ease-in-out;
  transform: translateX(0);
  //transform: translateX(-50%);
}

.wrapper {
  @apply grid;
}

.content {
  padding: 20px 10% 20px 10%;
  grid-area: 1 / 1 / 1 / 1;
}

@keyframes slidein {
  0% {
    clip-path: polygon(110% 0, 135% 100%, 180% 100%, 155% 0);
  }
  100% {
    clip-path: polygon(-40% 0, -15% 100%, 30% 100%, 5% 0);
  }
}

@keyframes hover {
  0% {
    clip-path: polygon(-40% 0, -15% 100%, 30% 100%, 5% 0);
  }
  100% {
    clip-path: polygon(-30% 0, -5% 100%, 40% 100%, 15% 0);
  }
}

.slidein,
.slidein-backwards {
  animation: slidein 500ms forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 250ms;
}

.hover {
  animation: hover 500ms forwards;
}

.hoverOut {
  animation: hover 500ms reverse;
  animation-fill-mode: backwards;
}

.slidein-backwards {
  animation-fill-mode: backwards;
  animation-direction: reverse;
}

.content:last-child {
  @apply bg-black text-white;
  clip-path: polygon(110% 0, 135% 100%, 180% 100%, 155% 0);
}

.content > p {
  transition: transform 500ms ease-in-out;
  transform: translateX(100%);
  //transform: translateX(0);
  transition-delay: 0ms;
}

.article.active .content > p {
  transform: translateX(0);
}

.article.active {
  transform: translateX(-50%);
}

/*
.article::after, .article::before {
  @apply text-md;
  content: attr(data-content);
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 50%;
  transition: transform 700ms ease-in-out;
  transform: translateX(100%);
}

.acticle header {
  z-index: -1;
}
.article.active::after, .article.active::before {
  transform: translateX(0%);
}

.article.active::before {
  clip-path: polygon(0 100%, 40% 100%, 50% 0, 0 0);
  z-index: 100;
}*/

/*.article.active::after {
  background: black;
  color: white;
  clip-path: polygon(40% 100%, 100% 100%, 100% 0, 50% 0);
  z-index: 100;
}*/
